body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #7d8c97 0%, #2a2f47 100%);
}

.container {
    text-align: center;
    padding: 40px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 5px 50px rgba(26, 28, 29);
    width: 300px;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
}

input[type="text"] {
    padding: 12px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease;
    max-width: 260px;
    outline: none;
    border: none;
}

input[type="text"]:focus {
    outline: none;
    border: none;
}

button {
    padding: 12px 20px;
    background-color: #2a2f47;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #223358;
}

#qrcode {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-container {
    padding: 10px;
    background: transparent;
    border-radius: 5px;
}
